body
{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;

    margin: auto;
    padding: 0;

    color: #551a8b;
    background-color: #ffebff;
}

.band1
{
    background-color: #ffe1ff;
}

.band2
{
    background-color: #ffe6ff;
}

.band3
{
    background-color: #ffebff;
}

.band4
{
    clear: both;

    min-height: 1px;

    background-color: #fff1ff;
}

header,
nav,
section
{
    max-width: 1200px;
    margin: auto;
}

header
{
    font-family: 'Architects Daughter', cursive;
    font-size: 8vw;

    padding: 5%;

    text-align: center;
}

nav
{
    font-size: 1.25rem;

    padding: 2.5% 5% 5%;
}

nav ul
{
    clear: both;

    padding: 0;

    list-style: none;
}

nav li
{
    display: inline-block;

    padding-right: 2%;
}

nav a
{
    padding: 5px;

    text-decoration: none;
}

nav a:hover,
nav a:active
{
    text-decoration: underline;
}

a
{
    color: #551a8b;
}

section
{
    padding: 2.5% 5%;
}

h1
{
    font-size: 1.75rem;

    padding: 2.5% 0 5% 0;

    text-align: center;
}

.funFacts ul::before
{
    font-size: 1.25rem;
    font-weight: bold;

    content: 'About Me:';
}

.funFacts
{
    padding-top: 2.5%;
}

.funFacts ul
{
    margin-top: 0;
    padding-left: 0;

    list-style: none;

    background-color: #fff1ff;
}

/*.funFacts*/ li
{
    padding: .5% 0;
}

.topGraphic
{
    max-width: 100%;
    max-height: 600px;
}

.highlight
{
    font-weight: bold;
}

.highlight::after
{
    content: ': ';
}

.gallery,
.entry,
.gallery h2,
.subEntry
{
    clear: both;
}

.subEntry
{
    padding-top: 20px;

    border-top: 10px solid #ffe6ff;
}

.entry
{
    padding-bottom: 20px;

    border-top: 10px solid #ffe6ff;
}

.spaced a
{
    display: inline-block;

    padding: .5rem;
}

pre
{
    padding: 5px;

    color: white;
    background: black;
}

pre p
{
    margin: 0;
}

@media (min-width: 599px)
{
    header
    {
        font-size: 3rem;
    }

    .funFacts ul
    {
        float: left;

        width: 52.5%;
        padding: 0 2.5% 16px 1%;
    }

    .topGraphic
    {
        float: right;

        max-width: 41.5%;
        padding: 0 0 16px 2.5%;
    }
}
