body {
  padding: 0;
  margin: auto;
  background-color: #FFEBFF;
  color: #551A8B;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

.band1 {
  background-color: #FFE1FF;
}

.band2 {
  background-color: #FFE6FF;
}

.band3 {
  background-color: #FFEBFF;
}

.band4 {
  background-color: #FFF1FF;
  clear: both;
  min-height: 1px;
}

header, nav, section {
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 5%;
  text-align: center;
  font-size: 36px;
  font-family: 'Architects Daughter', cursive;
}

nav {
  padding: 2.5% 5% 5%;
  font-size: 20px;
}

nav ul {
  list-style: none;
  clear: both;
  padding: 0;
}

nav li {
  float: left;
  padding-right: 2%;
}

nav a {
  text-decoration: none;
  padding: 5px;
}

nav a:hover, nav a:active {
  text-decoration: underline;
}

a {
  color: #551A8B;
}

section {
  padding: 2.5% 5%;
}

h1 {
  text-align: center;
  padding: 2.5% 0px 5% 0px;
  font-size: 26px;
}

.funFacts ul::before {
  content: "About Me:";
  font-size: 20px;
  font-weight: bold;
}

.funFacts {
  padding-top: 2.5%;
}

.funFacts ul {
  float: left;
  width: 52.5%;
  list-style: none;
  padding: 0px 2.5% 16px 0px;
  background-color: white;
}

.funFacts li {
  padding: 0.5% 0px;
}

.topGraphic {
  float: right;
  max-width: 42.5%;
  max-height: 600px;
  padding: 0px 0px 16px 2.5%;
}

.highlight {
  font-weight: bold;
}

.highlight::after {
  content: ": ";
}

.gallery, .entry, .gallery h2, .subEntry {
  clear: both;
}

.subEntry {
  border-top: 10px solid #FFE6FF;
  padding-top: 20px;
}

.entry {
  padding-bottom: 20px;
  border-top: 10px solid #FFE6FF;
}

pre {
  background: black;
  color: white;
  padding: 5px;
}

pre p {
  margin: 0;
}
